services:
  # ... (serviços broker, db e webserver que já tinhas) ...

  duckdns:
    image: lscr.io/linuxserver/duckdns:latest
    container_name: duckdns
    networks:
      - web_network
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Lisbon
      - SUBDOMAINS=${domain}
      - TOKEN=${token}
    restart: always

networks:
  web_network:
    external: true

volumes:
  redis_data:
  pgdata:
